body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    /* width: 100%; */
    max-height: 112px;
}

main {
    flex: 1;
    /* padding: 20px; */
    
}

.form_shipper {
    overflow-y: auto;
    max-height: calc(100vh - 154px);
    max-width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Sidebar styles */
aside {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 120px 20px 20px 20px;
    box-sizing: border-box;
    height: 100vh;    

}

aside a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 2rem;
}

aside a:hover {
    text-decoration: underline;
}